/* Universal Selector: Evrensel Seçici */
/* Daha çok Browserdaki sıfırlama işlemi yapılır */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 239, 238);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header h2{
background-color: aqua;
}
header img{
    width: 50%;
    margin:10px;
    border:5px solid red;
    padding:20px;
}



/* Elements  ile erişim */
li{
    background-color: cadetblue;
    margin-top: 2px;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

li:hover{
    opacity:0.5;
    cursor:pointer;
    font-size: larger;
}

/* Class ile erişim */
.about{
    color:red;
    background-color: antiquewhite;
} 

