*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .abs{
    background-color: coral;
    width: 5cm;
 }

 .div2{
    background-color: blueviolet;
    width: 50%;
    height: 40vh;
 }
 .div3{
    background-color: orange;
    width: 50%;
    height: 50%;
 }
 .div4{
    background-color: magenta;
    width: 60vw;
 }
 .div5{
    font-size: 25px;
 }
 .div6{
    font-size: 2em;
 }
 .div7{
    font-size: 2em;
 }
 .div8{
    font-size: 25px;
 }
 .div9{
    font-size: 5rem;
 }
 .div10{
    font-size: 5rem;
 }