* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image:url(./img/background_image.jpg); */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.container {
  width: 1240px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 1036px;
  margin: auto;
  margin-top: 30px;
  padding: 1rem;
}
.title {

  font-family: "Bowlby One SC", cursive;

  text-align: center;
  font-family: Bowlby One SC;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2.5px;
}
span {
  color: #f00;
}
.description {
  font-family: "Sorts Mill Goudy", serif;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}
