.box1{

    /* isim ile renk oluşturma */
    background-color:darkturquoise
}
.box2{
    /* rgb değeri ile renk oluşturma */
    /* background-color: rgb(245,30,60); */
    background-color: rgb(100,230,0);
    background-color: rgb(61, 115, 151);
}
.box3{

 /* rgb-alpha değeri ile renk oluşturma */
    background-color: rgba(230,40,40,0.4);
    height: 50px;

}
.box4{
    background-color:#E9335A;
}

.box5{
    /* HExadecimal değerler ile renk oluşturma */
    background-color: #edaaed;
}
.box6{
/* background-color: hsl(240,10%,100%); */
background-color:hsla(250,100%,70%,0.3) ;
}