*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{
    width: 800px;
    height: 600px;
    background-color: bisque;

}

.box1{
    width: 150px;
    height: 150px;
    background-color: crimson;
    padding:20px;
    border:5px solid black;
}
.box2{
    width: 150px;
    height: 150px;
    background-color: rgb(220, 183, 20);
    padding:20px;
    border:5px solid black;
    box-sizing: border-box;
}
.box3{
    width: 150px;
    height: 150px;
    background-color: rgb(20, 220, 207);
}
p{
    /* background-color: burlywood; */
    padding:40px;
    border:5px solid red;
}